.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #333945;
}

footer {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

form{
  margin-top: -155px;

}





